<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='IMAGE/logo.png') }}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navigation start -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-brand" id="logo" src="{{ url_for('static', filename='IMAGE/logo.png') }}" height="50px"></img>
      </div>
      <div class="nav navbar-nav" align="right">
        <div class="container">
        <span > <button class="btn btn-primary" id="navbtn_practice">Practice</button> </span>
        <span> <button class="btn btn-primary" id="navbtn_profile">Profile</button> </span>
        <span> <button class="btn btn-primary" id="navbtn_signout">Sign out</button> </span>
      </div>
    </div>
  </nav>
  <!-- Navigation end -->
  <!-- Midbody start -->
  <div class="container">
<!--     <table align="center">
      <tr>
        <td>ID</td>
        <td style="padding: 0px 10px">:</td>
        <td>{/{data.problemid}}</td>
      </tr>
      <tr>
        <td>Time limit(s)</td>
        <td style="padding: 0px 10px">:</td>
        <td>{/{data.timelimit}}</td>
      </tr>
      <tr>
        <td>Memory limit(MB)</td>
        <td style="padding: 0px 10px">:</td>
        <td>{/{data.memorylimit}}</td>
      </tr>
    </table> -->
    <a href="/submit?problem={{problemid}}"><button class="btn btn-primary" id="problem_submit">Submit</button></a>
    <br> <br>
    <div class="container container-fluid" id="problem">
      <object data="{{problemlink}}" type="application/pdf" style="min-height:100vh;width:100%">
        <p>It appears you don't have a PDF plugin for this browser.
          No biggie... you can <a href="{{problemlink}}">click here to
          download the PDF file.</a></p>
      </object>
    </div>
  </div>
  <!-- Midbody end -->
</body>
<script type="text/javascript" src="{{ url_for('static', filename='JS/nav.js') }}"></script>
</html>
