<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='IMAGE/logo.png') }}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navigation start -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-brand" id="logo" src="{{ url_for('static', filename='IMAGE/logo.png') }}" height="50px"></img>
      </div>
      <div class="nav navbar-nav" align="right">
        <div class="container">
        <span > <button class="btn btn-primary" id="navbtn_practice">Practice</button> </span>
        <span> <button class="btn btn-primary" id="navbtn_profile">{{profile}}</button> </span>
        <span> <button class="btn btn-primary" id="navbtn_signout">Sign out</button> </span>
      </div>
    </div>
  </nav>
  <!-- Navigation end -->
  <!-- Midbody start -->
  <div class="container hidela" id="magic">
    <h3><a href="" id="name" class="gupon">{{data.name}}</a></h3>
    <a href="{{url_for('submission_page')}}"><button class="btn btn-primary" id="submission">Submission</button></a>
    <a href="{{url_for('change_page')}}"><button class="btn btn-primary"id="changepass">Change Info</button></a>
    <br><br>
    <table class="table">
      <tr>
        <td>Email</td>
        <td id="email" class="gupon">{{data.email}}</td>
      </tr>
      <tr>
        <td>Instritution</td>
        <td id="inst" class="gupon">{{data.institution}}</td>
      </tr>
      <tr>
        <td>Level</td>
        <td id="level" class="gupon">{{data.level}}</td>
      </tr>
      <tr>
        <td>Solve</td>
        <td id="solve" class="gupon">{{data.solved}}</td>
      </tr>
      <tr>
        <td>Tried</td>
        <td id="tried" class="gupon">{{data.tried}}</td>
      </tr>
    </table>
  </div>
  <!-- Midbody end -->
  <!-- Footer start -->
  <div class="container" style="padding-top: 3px; position: absolute;height: 20px;margin-bottom: 0;bottom: 0;width: 100%; font-size: 12px;" align="center">
    <hr>
    <i> {{title}}<br>
    Developped by Rahat Hossain and Faiaz Amin Khan
    <br>Under the supervision of Dr. Saifuddin Md. Tareeq</i><br>
    <a href="">Click for more information.</a>
  </div>
  <!-- Footer end -->
</body>
<script type="text/javascript" src="{{ url_for('static', filename='JS/nav.js') }}"></script>
</html>
